flows.json
[{"id":"6ede3bef.992224","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"50106294.a4fabc","type":"mysql","z":"6ede3bef.992224","mydb":"cac2602.3483ba","name":"","x":458.5,"y":97,"wires":[["1b926cc7.b1ca73"]]},{"id":"6e2fcb27.855eb4","type":"inject","z":"6ede3bef.992224","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":114.5,"y":96,"wires":[["d64999cf.6d94d8"]]},{"id":"1b926cc7.b1ca73","type":"debug","z":"6ede3bef.992224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":662.5,"y":97,"wires":[]},{"id":"d64999cf.6d94d8","type":"function","z":"6ede3bef.992224","name":"","func":"msg.topic = \"SELECT * FROM api_device_info LIMIT 10;\"\nreturn msg;","outputs":1,"noerr":0,"x":288.5,"y":97,"wires":[["50106294.a4fabc"]]},{"id":"cac2602.3483ba","type":"MySQLdatabase","z":"","host":"10.70.51.54","port":"3306","db":"cloudb","tz":""}]